* {
    box-sizing: border-box;
 }
 .wf-mplus1p {font-family: 'Waiting for the Sunrise', cursive;}
.kakunin {
  margin-top: 80px;
  padding-bottom: 5000px;
}

li {
  list-style: none;
}
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 555;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

 .video{
	width: 100%;
	height: 100%;
	background: url(file:///Users/kitamurahiiraginari/Desktop/kadai/takibi.mov) no-repeat center/cover;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: -1;
}
  .video::after{
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(16, 57, 75, .3);
	display: block;
	position: absolute;
	left: 0;
	top: 0;
} 
  .video video{
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
} 
  @media screen and (min-width: 768px) {
	.video{
	  min-width: 960px;
	}
}
 /* 要素全体 */
 body {
   margin: 0;
   padding: 0;
   font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
   background-color: #D2B48C;
 }
/* topscrollボタン */
#page_top {
  position: fixed;
  bottom: 30px;
  left: 20px;
  width: 50px;
  height: 50px;
  background-color: #c2c2c2aa;
  opacity: 0.6;
  border-radius: 50%;
}
#page_top a {
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
}
#pagetop a::before{
  font-family: "Font Awesome 5 Free";
  content: '\f106';
  font-weight: 900;
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: 10px;
  bottom: 10px;
  right: 0;
  left: 0;
  margin: auto;
}
#page_top a:hover {
  background-color: #666;
  border-radius: 50%;
  text-decoration: none;
}

nav {
   margin-left: auto;
 }

h1 {
   margin: 0;padding: 0;
   font-size: 20px;
}
a {
  text-decoration: none;
  color: inherit;
}
.header_ul a:link {color: inherit;} /*未訪問のリンクの色*/
.header_ul a:visited {color: rgb(187, 187, 187);} /*訪問済みのリンクの色*/

 /* ヘッダー */
 
 header {
   width: 100%;
   padding: 30px 4% 10px;
   position: fixed;
   top: 0;
   display: flex;
   align-items: center;
 }
 .header_ul {
  list-style: none;
  margin: 0;
  display: flex;
}
.header_set {
   margin-left: 15px;
   text-align:center;
   transition: 1.0s;
}
.header_set:hover {
  opacity: .7;
}

.header_1 {
  font-family: 'Waiting for the Sunrise', cursive;
  margin: 0 20px;
  font-size: 15px;
}
.header_2 {
  font-size: 1px;
}

/* ドロップダウンメニュー */
.dropdown__lists {
  display: none;/*デフォルトでは非表示の状態にしておく*/
  font-size: 20px;
  padding: 5px;
  font-weight: 600;
  background-color: #826e54;
  color: rgb(255, 255, 255);
}

.header_set:hover .dropdown__lists {
  display: block;/*Gナビメニューにホバーしたら表示*/
}
.dropdown__lists:hover {
  background-color: #000000;
}
.dropdown__lists_set {
  position: absolute;
}
 /* ヘッダー動き */
 .itoucampbox {
      width: auto ;
			height: 100% ;
			line-height: 100% ;
			text-align: center ;
 }
 .itoucamp {
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-family: 'Waiting for the Sunrise', cursive;
  transition: 1.5s;
  transform: rotateX( 0deg ) ;
 }
 .itoucampbox:hover .itoucamp {
  transform: rotateX( 1080deg ) ;
}
.site_header {
   background: #3636367d;
   padding: 0 10px;
   position: fixed;
   top: 0;
   transition: .5s;
   width: 100%;
   z-index: 999;
}
.site_header.hide{
   transform: translateY(-100%);
}
/* ハンバーガーメニュー↓ */
@media (max-width: 850px) {
  /* ボタンの設定 */
  .menu-btn {
      position: fixed;
      top: 1px;
      right: 10px;
      display: flex;
      height: 60px;
      width: 60px;
      justify-content: center;
      align-items: center;
      z-index: 90;
  }
  /* ボタンの柄、位置設定 */
  .menu-btn span,
  .menu-btn span:before,
  .menu-btn span:after {
      content: '';
      display: block;
      height: 3px;
      width: 25px;
      border-radius: 3px;
      background-color: #555555;
      position: absolute;
  }
  /* ボタンの柄を設定 */
  .menu-btn span:before {
      bottom: 8px;
  }
  .menu-btn span:after {
      top: 8px;
  }
  /*ハンバーガーメニュークリックされた際の表示↓*/
  #menu-btn-check:checked ~ .menu-btn span {
      background-color: rgba(255, 255, 255, 0);
  }
  /*ハンバーガーメニュークリックされた際、ボタンをバツ印に設定↓*/
  #menu-btn-check:checked ~ .menu-btn span::before {
      bottom: 0;
      transform: rotate(45deg);
  }
  #menu-btn-check:checked ~ .menu-btn span::after {
      top: 0;
      transform: rotate(-45deg);
  }
  /*クリックされた際メニューを画面内へ*/
  #menu-btn-check:checked ~ .header_ul {
      left: 0;
  }
  
  /* ハンバーガーメニュークリックされた際のメニュー表示↓ */
  .header_ul  {
      width: 100%;
      height: auto;
      position: fixed;
      top: 55px;
      left: 100%;
      z-index: 1000;
      transition: all 0.5s;/*アニメーション設定*/
      list-style: none;
      padding: 0%;
      display: block;
      
  }
  .header_set {
    width: 100%;
    margin-left: 0%;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px dotted red;
    color: #fff;
    align-items: center;
    background-color: #444444a7;
  }
  .header_1 {
    font-size: 20px;
    height: auto;
  }
  .header_2 {
    font-size: 7px;
    height: auto;
  }
  .dropdown__lists_set  {
    position:static;
  }

}
#menu-btn-check {
  display: none;/*チェックボックスを非表示に*/
}

/* CAMP */
.camp_ranking {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 60px;
}
.camp_img {
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.campranking_box {
  display: block;
  margin-top: 1000px;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.634));
}
.campranking_set {
  margin: 0 auto 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1920px;
  padding: 0 140px;
}
.camp_set {
  width: 24%;
  min-width: 230px;
  margin: 10px;
  background-color: #fff;
  border-radius: 20px;
}
.camp_title {
  display: block;
  text-align: center;
  font-weight: 800;
  font-size: 16px;
  line-height: 23px;
  padding: 15px 5px 0;
  min-height: 25px;
}
.camp_coption {
  margin: 10px 15px;
  font-size: 13px;
  display: -webkit-inline-box;
  line-height: 18px;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-font-smoothing: antialiased;
  height: 52px;
  -webkit-box-orient: vertical;
}

/* 1位 */
.ranking_icon1 {
  width: 92px;
  height: 42px;
  position: absolute;
  padding-left: 20px;
}
.ranking_icon1::after {
  content: '';
  position: absolute;
  left: 20px;
  top: 35px;
  height: 26px;
  width: -60px;
  border-left: 23px solid #D4AF37;
  border-right: 23px solid #D4AF37;
  border-bottom: 22px solid transparent;
}
.ranking_rank1 {
  width: 46px;
  font-size: 13px;
   font-weight: 800;
   padding: 10px 0 0;
   display: inline-block;
   color: rgb(255, 255, 255);
   background: #D4AF37;
   text-align: center;
}
.ranking_kurai1 {
  font-size: 13px;
    font-weight: 800;
    padding: 10px 0 0;
    display: inline-block;
    color: rgb(255, 255, 255);
}

/* 2位 */
.ranking_icon2 {
  width: 92px;
  height: 42px;
  position: absolute;
  padding-left: 20px;
}
.ranking_icon2::after {
  content: '';
  position: absolute;
  left: 20px;
  top: 35px;
  height: 26px;
  width: -60px;
  border-left: 23px solid  #BEBEBE;
  border-right: 23px solid  #BEBEBE;
  border-bottom: 22px solid transparent;
}
.ranking_rank2 {
  width: 46px;
  font-size: 13px;
   font-weight: 800;
   padding: 10px 0 0;
   display: inline-block;
   color: rgb(255, 255, 255);
   background: #BEBEBE;
   text-align: center;
}
.ranking_kurai2 {
  font-size: 13px;
    font-weight: 800;
    padding: 10px 0 0;
    display: inline-block;
    color: rgb(255, 255, 255);
}

/* 3位 */
.ranking_icon3 {
  width: 92px;
  height: 42px;
  position: absolute;
  padding-left: 20px;
}
.ranking_icon3::after {
  content: '';
  position: absolute;
  left: 20px;
  top: 35px;
  height: 26px;
  width: -60px;
  border-left: 23px solid  #C47222;
  border-right: 23px solid  #C47222;
  border-bottom: 22px solid transparent;
}
.ranking_rank3 {
  width: 46px;
  font-size: 13px;
   font-weight: 800;
   padding: 10px 0 0;
   display: inline-block;
   color: rgb(255, 255, 255);
   background: #C47222;
   text-align: center;
}
.ranking_kurai3 {
  font-size: 13px;
    font-weight: 800;
    padding: 10px 0 0;
    display: inline-block;
    color: rgb(255, 255, 255);
}

/* 4位以下 */
.ranking_icon0 {
  width: 92px;
  height: 42px;
  position: absolute;
  padding-left: 20px;
}
.ranking_icon0::after {
  content: '';
  position: absolute;
  left: 20px;
  top: 35px;
  height: 26px;
  width: -60px;
  border-left: 23px solid rgb(234, 234, 234);
  border-right: 23px solid rgb(234, 234, 234);
  border-bottom: 22px solid transparent;
}
.ranking_rank0 {
  width: 46px;
  font-size: 13px;
   font-weight: 800;
   padding: 10px 0 0;
   display: inline-block;
   color: rgb(0, 0, 0);
   background: rgb(234, 234, 234);
   text-align: center;
}
.ranking_kurai0 {
  font-size: 13px;
    font-weight: 800;
    padding: 10px 0 0;
    display: inline-block;
    color: rgb(0, 0, 0);
}



/* NEWS */
.NEWS_box {
  margin-top: 100px;
}

.NEWS_header {
  text-align: center;
  font-size: 80px;
  font-family: 'Waiting for the Sunrise';
}
.NEWS_box1 {
  border: 1px solid #ccc;
  display: flex;
  max-width: 60%;
  min-width: 820px;
  margin: auto;
  margin-bottom: 15px;
  background-color: #fff;
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.634));
  transition: 3s;
  transform: translate(-500px, 0);
  transition-duration: 1s;
  opacity: 0;
}
.NEWS_box1:hover {
  transform: scale(1.1);
  opacity: 0.6;
}
.scroll-in {
  opacity: 1;
  transform: translate(0, 0);
}

.NEWS_title {
  margin: 0;
      font-size: 24px;
}

.NEWS_content {
  text-align: left;
}

.NEWS_next {
  text-align: left;
}

.NEWS_set{
  display: flex;
  flex-direction: column;
  padding: 3px;
}

/* フッター */
footer {
  width: 100%;
  padding: 30px 4% 10px;
  background-color: rgb(69, 69, 69);
  top: 0;
  align-items: center;
}
.footer_h1 {
  width: 100%;
  height: 100%;
  font-size: 40px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  text-align: center;
  filter: drop-shadow(4px 4px 4px rgb(160, 80, 80));
  transition: .3s;
}
.footer_h1:hover {
  transform: scale(1.1);
}
.footer_ul {
 list-style: none;
 padding: 0;
}
.footer_set {
  margin-bottom: 15px;
  text-align: center;
  color: rgb(255, 255, 255);
  transition: 1.0s;
}
.footer_set:hover {
  opacity: 0.5;
}
.footer_1 {
  font-size: 20px;
  font-weight: 400;
}
.footer_2 {
 font-size: 10px;
}

.footer_copy {
  color: rgb(255, 255, 255);
  width: 100%;
  text-align: center;
}

